 
body {
 background-color: #333;
 font-family: 'Montserat, sans-serif';
 margin: 20px;
 font-size: 36px;
 height: 100vh;
 color: white;
 overflow: hidden;



}

p{
    color: gold;
    text-decoration: underline;
   
    
    
}

.google{
color: white;
text-decoration: none;
}

.small{
    text-transform: uppercase;
}

.big{
    text-transform: lowercase;
}

.text{
    text-transform: capitalize;
    letter-spacing: 4px;
    line-height: 200px;
}


